body {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/3/3c/Blackboard_texture.jpg');
  background-size: cover;
  color: white;
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding-top: 50px;
}

form {
  margin-top: 20px;
}

input {
  font-size: 1.5em;
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  border: 1px solid white;
  margin-bottom: 20px;
  text-align: center;
}

button {
  font-size: 1.5em;
  padding: 10px 30px;
  background-color: yellow;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
